<nav id="navbar">
    <div class="logo"><a class="logo" href="/">QuantusSports</a> </div>
    <div class="nav-links">
        <a href="/" class="home-link-nav">Home</a>

        <a href="/NBAbasketball/ratings">Ratings</a>
        <a href="/NBAbasketball/powerrankings">PowerRankings</a>
        <a href="/NBAbasketball/predictions">Predictions</a>
        <!-- <a href="/NBAbasketball/stats">Stats</a> -->
        <!-- <a href="/blog">Blog</a> -->
        <a href="/about" class="about-link-nav">About</a>

    </div>

</nav>