<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' ~ sport_key ~ '.css') }}">

    <title>QuantusSports</title>

</head>

<body>
    {% include sport_key ~ "/header.html" %}
    <main>

        <div id="sub-container">
            <h1 class="league-title">QuantusBasketball</h1>

            <div class="league-nav">
                <div><span><a href="/NBAbasketball/ratings">Ratings</a></span></div>
                <div><span><a href="/NBAbasketball/powerrankings">PowerRankings</a></span></div>
                <div><span><a href="/NBAbasketball/predictions">Predictions</a></span></div>
            </div>

            <p class="league-subtitle">Follow <a class="league-subtitle" href="https://bsky.app/profile/quantusbasketball.bsky.social">@QuantusBasketball</a> on BlueSky 🦋</p>



        </div>


        <div id="top-ratings">

            <div id="top-ratings-nba" class="top-ratings-class">
                <h2>Ratings</h2>
                {% for team in ratings %}
                <h3>
                   {{loop.index}}. {{team[0]}} - {{team[1]}}
                </h3>
                {% endfor %}

            </div>
            <div id="top-ratings-nba" class="top-ratings-class">
                <h2>7 Day PowerRankings</h2>
                {% for key, value in powerranking[:5] %}
                <h3>
                    {{loop.index}}. {{key}} - {{value['rating']}}
                </h3>
                {% endfor %}

            </div>

        </div>



        <h3 style="text-align: center; color:white;"><a id="githubLink"
                href="https://github.com/jmi06">Made by jmi06</a></h3>


    </main>

    <script src="/components/header.js"></script>

</body>

</html>