<nav id="navbar">
    <div class="logo"><a class="logo" href="/">QuantusSports</a> </div>
    <div class="nav-links">
        <a href="/MLBbaseball/ratings">Ratings</a>
        <a href="/MLBbaseball/powerrankings">PowerRankings</a>
        <a href="/MLBbaseball/predictions">Predictions</a>
        <!-- <a href="/MLBbaseball/players">Players</a> -->

        <!-- <a href="/MLBbaseball/stats">Stats</a> -->
        <!-- <a href="/blog">Blog</a> -->
        <a href="/about">About</a>

    </div>

</nav>