<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>QuantusSports</title>

</head>

<body>
    {% include "header.html" %}
    <main>

        <div id="sub-container" >
            <h1 class="home-title"  >Sports</h1>

            <div id="directory">
                <!-- <div class="section">

                    <h2 class="about-subtitle" id="about">QuantusSports</h2>

                    <ul class="directory">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/ratings">Ratings</a></li>
                        <li><a href="/sitemap">Sitemap</a></li>
                    </ul>
                </div> -->
                <div class="section">

                    <h2 class="about-subtitle" id="ratings">QuantusBaseball</h2>
                    <ul class="directory">
                            <li><a href="/MLBbaseball/ratings">Ratings</a></li>
                            <li><a href="/MLBbaseball/powerrankings">PowerRankings</a></li>
                            <li><a href="/MLBbaseball/predictions">Predictions</a></li>

                    </ul>
                </div>
                <div class="section">

                    <h2 class="about-subtitle" id="ratings">QuantusBasketball</h2>
                    <ul class="directory">
                            <li><a href="/NBAbasketball/ratings">Ratings</a></li>
                            <li><a href="/NBAbasketball/powerrankings">PowerRankings</a></li>
                            <li><a href="/NBAbasketball/predictions">Predictions</a></li>

                    </ul>
                </div>
                <div class="section">
    
                    <h2 class="about-subtitle" id="ratings">QuantusHockey</h2>
                    <ul class="directory">
                            <li><a href="/NHLhockey/ratings">Ratings</a></li>
                            <li><a href="/NHLhockey/powerrankings">PowerRankings</a></li>
                            <li><a href="/NHLhockey/predictions">Predictions</a></li>
    
                    </ul>
                </div>
            </div>
        </div>

        </div>


        </div>


        <h3 style="text-align: center; color:white;"><a id="githubLink" style="color:#8ea2fd"
                href="https://github.com/jmi06">Made by jmi06</a></h3>


    </main>

    <script src="/components/header.js"></script>

</body>

</html>